.logo {
  line-height: 1;
  display: block;
  max-height: 60px;
}
.customLauncher {
  position: fixed;
  top: 0;
  right: 1vw;
  flex: 1 1 auto;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff !important;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-image: -webkit-linear-gradient(
    left,
    #ffd310 20%,
    #dff801 70%,
    #93c900 150%
  );
  background-image: linear-gradient(
    90deg,
    #ffd310 20%,
    #dff801 70%,
    #93c900 150%
  );
  z-index: 2147483647;
  height: 48px;
}
.navbar-brand {
  padding: 0;
}
.container-semi-fluid {
  padding: 0 50px;
  min-height: 72px;
  @include tablet {
    padding: 0 20px;
  }
}
.nav__container {
  background: #fff;
  @include tabletHight {
    padding: 0 82px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.nav-link {
  color: #6b6b6b !important;
  font-size: 15px;
  padding: 0 17px !important;
  line-height: 72px;
  display: block;
  position: relative;
  &:hover {
    color: #f7bb30 !important;
  }
}
.navbar-collapse {
  padding-left: 30px;
}
.nav__holder {
  &.scrolling {
    background: #f9f9f9;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 99999;
  }
}
