@mixin tabletHight {
  @media (min-width: #{$tabletHight-width}) {
    @content;
  }
}
@mixin large {
  @media (max-width: #{$large-width}) {
    @content;
  }
}
@mixin xMedium {
  @media (max-width: #{$xMedium-width}) {
    @content;
  }
}
@mixin medium {
  @media (max-width: #{$medium-width}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}
