.header-banner {
  @include medium {
    display: none;
  }
}
.triangle {
  width: 1200px;
  height: 1200px;
  border-radius: 200px;
  position: relative;
  overflow: hidden;
}
.triangle-wrap {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
  position: absolute;
  z-index: 9999;
}
.triangle-wrap--align-right {
  top: -450px;
  right: -400px;
  -webkit-transform: rotate(-16deg);
  transform: rotate(-16deg);
  @include large {
    right: -600px;
  }
}
.triangle-wrap--align-right .triangle__img {
  -webkit-transform: rotate(16deg);
  transform: rotate(16deg);
}
.triangle__img {
  width: 1600px;
  height: 1600px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -170px;
  position: absolute;
  left: -169px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.triangle__gradient {
  background: linear-gradient(to top, #89d300 0%, #00f71c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#000000',GradientType=0 );
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
}
.banner-title {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 150px 0px 0px 0px;
  @include mobile {
    padding-top: 30px;
  }
}
.heading-title {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #686868;
  line-height: 1.3em;
  margin-right: 35px;
  margin-bottom: 20px;
}
.heading-description {
  font-size: 18px;
  line-height: 30px;
  color: #494949;
  & img {
    max-width: 100%;
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
  }
}
.section-center-title {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 500px 0px 0px 0px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex: 1;
  & h2 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.4em;
    padding: 0;
    margin: 0;
    color: #686868;
    text-align: center;
  }
  & .highlight {
    color: #f7bb30;
    margin-left: 10px;
  }
  @include mobile {
    padding-top: 30px;
  }
}
.center {
  justify-content: center;
  align-items: center;
}
.feature {
  z-index: 1;
  padding: 0 40px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #fff;
}
.feature--box {
  padding: 48px 40px;
}
.hover-up {
  top: 0;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.feature__title {
  margin-bottom: 13px;
  font-size: 18px;
}
.feature__text p:last-child {
  margin-bottom: 0;
}
.populated {
  padding: 20px;
}
.box-shadow {
  -webkit-box-shadow: 0 1px 6px rgba(61, 65, 84, 0.15);
  box-shadow: 0 1px 6px rgba(61, 65, 84, 0.15);
}
.hover-line {
  &:before {
    content: "";
    display: block;
    height: 5px;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #4c86e7;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    -webkit-box-shadow: 0 20px 40px rgba(61, 65, 84, 0.15);
    box-shadow: 0 20px 40px rgba(61, 65, 84, 0.15);
    top: -2px;
    &:before {
      width: 100%;
    }
  }
}
.section-grid-box {
  margin-bottom: 240px;
  @include mobile {
    margin-bottom: 30px;
  }
}
.section-boxed {
  max-width: 1320px;
}
.no-padding {
  padding: 0;
}
.triangle-wrap--align-left {
  left: -640px;
  top: -400px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  @include xMedium {
    left: -800px;
  }
}
.background-image-left {
  position: relative;
  z-index: -1;
  @include medium {
    display: none;
  }
}
.section-problem-row {
  justify-content: flex-end;
  margin-bottom: 390px;
  .section-problem {
    & .text-editor {
      font-size: 18px;
      line-height: 30px;
      padding-right: 50px;
    }
  }
  @include mobile {
    margin-bottom: 30px;
  }
}
.widget-container {
  -webkit-transition: background 0.3s, border 0.3s, -webkit-border-radius 0.3s,
    -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, -webkit-border-radius 0.3s,
    -webkit-box-shadow 0.3s;
  -o-transition: background 0.3s, border 0.3s, border-radius 0.3s,
    box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    -webkit-border-radius 0.3s, -webkit-box-shadow 0.3s;
}
.widget-image {
  padding: 20px;
  & img {
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    vertical-align: middle;
    display: inline-block;
  }
}
.widget-row-right {
  justify-content: flex-end;
}
.button-link {
  font-weight: 700;
  background-color: #f9bf00;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 5px 15px 0px rgba(249, 210, 12, 0.4);
  font-size: 15px;
  padding: 18px 24px;
  display: inline-block;
  line-height: 1;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: #67bc00;
    transform: scale(1.2);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
  & i {
    margin-left: 40px;
  }
}
